<%- include ("./partials/header-home") %>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <div class="wrapper fadeInDown">
        <div class="row">
            <div class="col">
                <div id="formContent">
                    <!-- Tabs Titles -->
                  
                    <!-- Title -->
                    <div id="titlelabbel">
                      <h1>Omar Balboa</h1>
                    </div>
          
                    <!-- Icon -->
                    <div class="fadeIn first">
                      <img src="https://image.flaticon.com/icons/png/512/164/164600.png" id="icon" alt="User Icon" />
                    </div>
                
                    <!-- Login Form -->
          
                      <br>
                      <h4> Nombre: </h4>
                      <b> Omar Alejandro Balboa Lara </b>
                      <hr>
                      <h4> Matrícula: </h4>
                      <b> A00825034 </b>
                      <hr>
                      <h4> Correo: </h4>
                      <b> A00825034@itesm.mx </b>
                    </form>
                
                    <!-- Remind Passowrd -->
                    <div id="formFooter">
                      <a class="underlineHover" href="https://github.com/OmarBalboa" style="color: white" >Github</a>
                    </div>
                
                  </div>
            </div>
    
            <div class="col">
                <div id="formContent">
                    <!-- Tabs Titles -->
                  
                    <!-- Title -->
                    <div id="titlelabbel">
                      <h1>Carlos Herrera</h1>
                    </div>
          
                    <!-- Icon -->
                    <div class="fadeIn first">
                      <img src="https://image.flaticon.com/icons/png/512/164/164600.png" id="icon" alt="User Icon" />
                    </div>
                
                    <!-- Login Form -->
          
                    <br>
                    <h4> Nombre: </h4>
                    <b> Carlos Gerardo Herrera Cortina </b>
                    <hr>
                    <h4> Matrícula: </h4>
                    <b> A00821946 </b>
                    <hr>
                    <h4> Correo: </h4>
                    <b> A00821946@itesm.mx </b>
                    </form>
                
                    <!-- Remind Passowrd -->
                    <div id="formFooter">
                      <a class="underlineHover" href="https://github.com/carrr105/" style="color: white" >Github</a>
                    </div>
                
                  </div>
            </div>
    
            <div class="col">
                <div id="formContent">
                    <!-- Tabs Titles -->
                  
                    <!-- Title -->
                    <div id="titlelabbel">
                      <h1>David Martínez</h1>
                    </div>
          
                    <!-- Icon -->
                    <div class="fadeIn first">
                      <img src="https://image.flaticon.com/icons/png/512/164/164600.png" id="icon" alt="User Icon" />
                    </div>
                
                    <!-- Login Form -->
          
                    <br>
                    <h4> Nombre: </h4>
                    <b> David Alejandro Martínez Tristán </b>
                    <hr>
                    <h4> Matrícula: </h4>
                    <b> A01610267 </b>
                    <hr>
                    <h4> Correo: </h4>
                    <b> A01610267@itesm.mx </b>
                    </form>
                
                    <!-- Remind Passowrd -->
                    <div id="formFooter">
                      <a class="underlineHover" href="https://github.com/dmtzt/" style="color: white" >Github</a>
                    </div>
                
                  </div>
            </div>
        </div>
    </div>

<%- include ("./partials/footer") %>