<%- include ("./partials/header") %>
<p> Hello <%= name %> </p>
<form action="/logout" method="GET">

    <input type="submit" class="fadeIn fourth" /> logout
  </form>

  <form action="/createT" method="GET">

    <input type="submit" class="fadeIn fourth" /> crea torneo
  </form>
<%- include ("./partials/footer") %>