<%- include ("./partials/header-ancho") %>

    <!-- Empieza-->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
            
              <!-- Title -->
              <div id="titlelabbel">
                <h1>- El torneo se ha eliminado -</h1>
              </div>
    
              <!-- Icon -->
              <div class="fadeIn first">
                <img src="https://lh3.googleusercontent.com/proxy/CClUG2zFVisS_vOg0Jte-GZ-IMEGwVOp09Rm4HQ0I0vi0Q48o3gXn1wTxga34_3Sf8AxgC_kMyXiOVLhV_wfuZpu5Fqzm8pmm4vaSU9Nu2Tz4rU8lALzOs3KqeO_s1sjkQ" id="icon" alt="User Icon" />
              </div>
          
              <!-- Login Form -->
          
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="home" style="color: white" >Look for more tournaments</a>
              </div>
          
            </div>
          </div>
    
    

    <!-- Termina -->

<%- include ("./partials/footer") %>